
* {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  text-decoration: none
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s;
  color: #b7b7b7;
}
.topNavBarInner {
  padding: 0 16px;
}
.topNavBar .rs {
  margin-right: 4px;
}

.topNavBar .logo {
  font-family:'Arial Black';
  font-size: 24px;
  margin-left: 16px;
}
.topNavBar .logo .rs{
  color: #e6686a;
}
.topNavBar .logo .card{
  color: #b7b7b7;
}
.topNavBar nav {
  font-size: 13px;
}
.topNavBar nav>ul>li {
  color: inherit;
  float: right;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar nav a {
  font-size: 12px;
  color: inherit;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  /* font-weight: bold; */
  border-top: 3px solid transparent;
  position: relative;
}
.topNavBar nav ul>li>a:hover::after{
  content: '';
  display: block;
  position: absolute;
  background-color: #e6686a;
  height: 3px;
  width: 100%;
  top: 100%;
  animation: slideIn .3s linear;
}

@keyframes slideIn{
  0% {width: 0px;}
  100% {width: 100%;}
}

.banner {
  height: 515px;
  background-image: url('./img/rs-cover.jpg');
  background-position: center center;
  /* 背景图片大小自适应 */
  background-size: cover; 
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  max-width: 940px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
/* padding放在这里防止外面的div被撑大 */
.userCard .pictureAndText {
  margin-top: -350px;
  padding: 50px;
}
.userCard .picture {
  float: left;
}
.userCard .text h1 {
  margin-top: 18px;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard dl dt, .userCard dl dd {
  float: left;
  padding: 5px 0;
}
/* 利用自动折行 */
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}
.userCard dd {
  color: #9da0a7;
  width: 70%;
}
.userCard .welcome {
  background: #e6686a;
  color: white;
  padding: 5px 16px;
  margin-bottom: 10px;
  position: relative;
}
.userCard .welcome .triangle {
  display: inline-block;
  border: 10px solid transparent;
  border-left-color:#e6686a; 
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #DEDEDE;
}
.userCard hr {
  margin: 20px 0;
}
.userCard footer {
  text-align: center;
  background: #E6686A;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}
.userCard footer a {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  margin: 16px;
}
.userCard footer a:hover {
  background: #CF5D5F;
}
.downloadResume-wraper {
  text-align: center;
}
.downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.3s;
}

.downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: KaiTi;
  line-height: 1.8;
  font-size: 18px;
}

section.skills, 
section.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.skills>h2,
.portfolio>h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}

.skills>ol {
  margin-top:30px;
  padding: 42px 50px 10px;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.skills>ol>li {
  float: left;
  width: 48%;
}

.skills>ol>li:nth-child(even) {
  float: right;
}

.skills h3 {
  font-size: 14px;
  line-height: 1.1;
}

.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 6px 0 40px;
}

.skills .progress {
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  width: 70%;
}

section.portfolio {
  margin-bottom: 200px;
  text-align: center;
}

.portfolio>nav>ol>li {
  cursor: pointer;
  float: left;
  margin-left: 40px;
}

.portfolio>nav>ol>li:first-child {
  margin-left: 0;
}
.portfolio>nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.portfolio>nav>.bar {
  height: 5px;
  background-color: white;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 28px;
}
.portfolio>nav .bar-inner {
  border-radius: 2px;
  height: 100%;
  background-color: #DC6465;
  transition: all 0.3s;
}

.portfolio>nav .bar-inner.state-1 {
  width: 34px;
}
.portfolio>nav .bar-inner.state-2 {
  margin-left: 68px;
  width: 40px;
}
.portfolio>nav .bar-inner.state-3 {
  margin-left: 140px;
  width: 94px;
}

.portfolio>.works {
  position: relative;
}
section.portfolio .works > .big, section.portfolio .works > .small {
  position: absolute;
}

.loading {
  position: relative;
  height: 200px;
  width: 200px;
}
.loading::after,.loading::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background: black;
  animation: loading 1.3s infinite linear;
}
.loading::before {
  animation-delay: .75s;
}
@keyframes loading {
  from {width: 0px; height: 0px; opacity: 1;}
  to{width: 60px; height: 60px; opacity: 0;}
}
.site-welcome {
  display: none;
}
.site-welcome.active {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.stick {
  background: white;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  color: #5c5656;
  z-index: 1;
}

main.active {
  /* background-color: brown */
}
section.active {
  /* background-color: brown */

}